body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: "Inconsolata", monospace;
    background-color: #71B48D;
    position: relative;
    
}

.picker{
    padding: 1em 2em;
    border: 2px solid black;
    transform: rotate(90deg);
    margin-bottom: 25px;
    transition: 0.3s ease-in-out;
}
.picker:hover{
    transform: rotate(0deg);
    border-radius: 50%;
    cursor: pointer;
    padding: 1.7em 1.7em;
}
.color-picker-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 350px;
    display: none;
}
.pc-one button:nth-child(1){
    background-color: #183446;
}
.pc-one button:nth-child(2){
    background: linear-gradient(to top, #6b8e23, #ff8c00,  #ff4500);
}
.pc-one button:nth-child(3){
    background-color: #7A28CB;
}
.pc-one button:nth-child(4){
    background-color: #ED1C24;
}

.pc-two button:nth-child(1){
    background-color: #B14AED;
}
.pc-two button:nth-child(2){
    background-color:#DC0073;
}
.pc-two button:nth-child(3){
    background-color: #2667FF;
}
.pc-two button:nth-child(4){
    background: linear-gradient(to top, #5f9ea0, #e9967a, #fff9c4);;
}

.pc-three button:nth-child(1){
    background: linear-gradient(to top, #74b9ff, #ff7675, #fcd000);
}
.pc-three button:nth-child(2){
    background-color: #d2b48c;
    background-image: url(images/wood-pattern.png);
}


.inactive-calc{
    display: none;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    margin-bottom: 2em;
}
.header{
    text-align: center;
    font-size: 2.6em;
    color: white;

}
.mini-header{
    opacity: 0;
    color: white;
    position: absolute;
    top: 50px;
    left: 90px;
    font-size: 1.4rem;
}
.active{

}
.miniräknare-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12em;
    margin-top: 1em;
}
#darkGreen-one{
    background-color: #6b8e23;
    color: white;
}
#darkGreen-one-operations{
    background-color: #ff8c00;
}
#purple-one{
    background-color: #7A28CB;
    color: white;
}
#red-one{
    background-color: #ED1C24;
    color: white;
}
#pink-two{
    background-color: #DC0073;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   
}
#blue-two{
    background-color:#2667FF;
    color: white;
    
}
#cadet-blue-two{
    background-color: #5f9ea0;
    color: white;
}
#dark-salmon-two{
    background-color: #e9967a;
    color: white;
}

#original-numb-three{
   background-color: #74b9ff;
}
#original-op-three{
    background-color: #ff7675;
}
#original-equals-three{
    background-color: #fcd000;
    color: white;
}

#wood-numb-three{
    background-color:#d2b48c ;
    background-image: url(images/tileable-wood-colored.png);
    background-size: cover;
}
#wood-op-three{
    background-color: #ff8c00;
    background-image: url(images/dark-wood.png);
    background-size: cover;
}

#test-glow{
    position: relative;
    overflow: hidden;
}
#test-glow:hover{
    box-shadow: 0 0 20px 10px rgba(175, 66, 193);
}






.wood-three{
    background-image: url("images/wood-pattern.png");
}

#miniräknare-one{
    border: 2px solid black;
    width: 230px;
    height: 290px;
    background-color: #183446;
    display: flex;
    flex-direction: column;
    align-items: center;
   transition: 0.3s ease-in-out;
}
#miniräknare-two{
    border: 2px solid black;
    width: 230px;
    height: 290px;
    background-color: #B14AED;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.hover:hover{
    cursor: pointer;
    scale: 1.05;
}
#miniräknare-three{
    border: 2px solid black;
    width: 230px;
    height: 330px;
    background-color: #2C2F36;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;
    
   
}
.top{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.bottom-two{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: 0.3s ease-in-out;
}
.bottom-three{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 85%;
    height: 80%;
    
}
.display{
    height: 50px;
    width: 100%;
    padding: 10px;
}
.display-bg{
    background-color: #171A21;
    width: 70%;
    height: 35px;
    border-radius: 10px;
    
}
.display-bg-og{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    border: none;
    
}
.display-bg-wood{
    background-color: #333;
    box-shadow: 0 0 10px rgba(139, 69, 19, 0.5);
    border: 4px solid #d2b48c;
}
.buttons{
    display: grid;
    width: 100%;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: repeat(5,1fr);
}

.two{
    gap: 6px;
    padding: 6px 15px;
}
.three{
 gap: 8px;
 padding: 6px 0px;  
}
.one button{
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
    background-color: #183446;
    color: white;
    border:none;
    box-shadow: -1px -1px 0 0 #000, 1px 1px 0 0 #000;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.one button:hover{
    cursor: pointer;
}
.two button{
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(119, 135, 139, 0.8);
    color: black;
    border: none;
    border-radius: 8px;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.two button:hover{
    cursor: pointer;
}
.three button{
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 5px;
    font-family: 'Inconsolata', sans-serif;
    font-weight: bold;
    border: none;
    transition: 0.3s ease-in-out;

}
.three button:hover{
    cursor: pointer;
}

input{
    text-align: right;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    font-size: 1.7rem;
    background-color: transparent;
    color: white;
    font-family: "Karla", sans-serif;
    font-weight: bold;
}
input::placeholder{
    color: white;
    font-family: "Karla", sans-serif;
    font-weight: bold;
}
input:focus{
    outline: none;
}

/* First calc*/

.bottom .one button:nth-child(1){   /* 00 */
    grid-area: 5 / 1 / 5 / 2;
}
.bottom .one button:nth-child(2){   /* 0 */
    grid-area: 5/2/5/3;
}
.bottom .one button:nth-child(3){   /* . */
    grid-area: 5/3/5/4;
}
.bottom .one button:nth-child(4){   /* 1 */
    grid-area: 4/1/4/2
}
.bottom .one button:nth-child(5){   /* 2 */
    grid-area: 4/2/4/3;
}
.bottom .one button:nth-child(6){   /* 3 */
    grid-area: 4/3/4/4;
}
.bottom .one button:nth-child(7){   /* 4 */
    grid-area: 3 / 1 / 3 / 2;
}
.bottom .one button:nth-child(8){   /* 5 */
    grid-area: 3 / 2 / 3 /3;
}
.bottom .one button:nth-child(9){   /* 6 */
    grid-area: 3 / 3 / 3 /4;
}
.bottom .one button:nth-child(10){  /* 7 */
    grid-area: 2 / 1 / 2 / 2;
}
.bottom .one button:nth-child(11){  /* 8 */
    grid-area: 2 / 2 / 2 / 3;
}
.bottom .one button:nth-child(12){  /* 9 */
    grid-area: 2 / 3 / 2 / 4;
}
.bottom .one button:nth-child(13){  /* C */
    grid-area: 1 / 1 /2 / 2;
    background-color: #A40606;
}
.bottom .one button:nth-child(14){  /* x */
    grid-area: 1 / 3 / 2 / 4;
}
.bottom .one button:nth-child(15){  
    grid-area: 1 / 2 / 2 / 3;
}
.bottom .one button:nth-child(16){ /* + */
    grid-area: 2 / 4 / 3 / 5;
}
.bottom .one button:nth-child(18){  /* = */
    grid-area: 3 / 4 / 6 / 5;
    background-color: #3c5a99;
    font-size: 2rem;
}
/* First calc*/


/*Second calc*/


.bottom-two .two button:nth-child(1){   /* 00 */
    grid-area: 5 / 1 / 5 / 2;
}
.bottom-two .two button:nth-child(2){   /* 0 */
    grid-area: 5/2/5/3;
}
.bottom-two .two button:nth-child(3){   /* . */
    grid-area: 5/3/5/4;
}
.bottom-two .two button:nth-child(4){   /* 1 */
    grid-area: 4/1/4/2
}
.bottom-two .two button:nth-child(5){   /* 2 */
    grid-area: 4/2/4/3;
}
.bottom-two .two button:nth-child(6){   /* 3 */
    grid-area: 4/3/4/4;
}
.bottom-two .two button:nth-child(7){   /* 4 */
    grid-area: 3 / 1 / 3 / 2;
}
.bottom-two .two button:nth-child(8){   /* 5 */
    grid-area: 3 / 2 / 3 /3;
}
.bottom-two .two button:nth-child(9){   /* 6 */
    grid-area: 3 / 3 / 3 /4;
}
.bottom-two .two button:nth-child(10){  /* 7 */
    grid-area: 2 / 1 / 2 / 2;
}
.bottom-two .two button:nth-child(11){  /* 8 */
    grid-area: 2 / 2 / 2 / 3;
}
.bottom-two .two button:nth-child(12){  /* 9 */
    grid-area: 2 / 3 / 2 / 4;
}
.bottom-two .two button:nth-child(13){  /* C */
    grid-area: 1 / 1 /2 / 2;
    color: #E71D36
}
/*Second calc*/



/*third calc*/


.bottom-three .three button:nth-child(1){   /* 00 */
    grid-area: 5 / 1 / 5 / 2;
    background-color: #74b9ff;
    
    
}
.bottom-three .three button:nth-child(2){   /* 0 */
    grid-area: 5/2/5/3;
    background-color: #74b9ff;
    
}
.bottom-three .three button:nth-child(3){   /* . */
    grid-area: 5/3/5/4;
    background-color: #74b9ff;
    
}
.bottom-three .three button:nth-child(4){   /* 1 */
    grid-area: 4/1/4/2;
    background-color: #74b9ff;
    
    
}
.bottom-three .three button:nth-child(5){   /* 2 */
    grid-area: 4/2/4/3;
    background-color: #74b9ff;
    
}
.bottom-three .three button:nth-child(6){   /* 3 */
    grid-area: 4/3/4/4;
    background-color: #74b9ff;
    
}
.bottom-three .three button:nth-child(7){   /* 4 */
    grid-area: 3 / 1 / 3 / 2;
    background-color: #74b9ff;
    
}
.bottom-three .three button:nth-child(8){   /* 5 */
    grid-area: 3 / 2 / 3 /3;
    background-color: #74b9ff;
   
}
.bottom-three .three button:nth-child(9){   /* 6 */
    grid-area: 3 / 3 / 3 /4;
    background-color: #74b9ff;
    
}
.bottom-three .three button:nth-child(10){  /* 7 */
    grid-area: 2 / 1 / 2 /2;
    background-color: #74b9ff;
    
}
.bottom-three .three button:nth-child(11){  /* 8 */
    grid-area: 2 / 2 / 2 / 3;
    background-color: #74b9ff;
    
}
.bottom-three .three button:nth-child(12){  /* 9 */
    grid-area: 2 / 3 / 2 / 4;
    background-color: #74b9ff;
    
}
.bottom-three .three button:nth-child(13){  /* C */
    grid-area: 1 / 1 /2 / 2;
    background-color: #ff7675;
    
}
.bottom-three .three button:nth-child(14){  /* x */
    background-color: #ff7675;
    
}
.bottom-three .three button:nth-child(15){  /* / */
    background-color: #ff7675;
    
}
.bottom-three .three button:nth-child(16){  /* + */
    background-color: #ff7675;
    
}
.bottom-three .three button:nth-child(17){  /* - */
    background-color: #ff7675;
    
}
.bottom-three .three button:nth-child(18){  /* % */
    background-color: #ff7675;
    
}
.bottom-three .three button:last-child{  /* = */
    grid-area: 4 / 4 / 6 / 5;
    background-color: #fcd000;
    
    
}
/*third calc*/




@media(min-width:1600px){
    body{
        justify-content: center;
    }
    .miniräknare-container{
        margin-top: 3em;
    }
    .mini-header{
        top: 250px;
        left: 250px;
        font-size: 1.6rem;
    }

}