body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: "Inconsolata", monospace;
    background-color: #71B48D;
    position: relative;
}
.inactive-calc{
    display: none;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    margin-bottom: 2em;
}
.header{
    text-align: center;
    font-size: 2.6em;
    color: white;

}
.mini-header{
    opacity: 0;
    color: white;
    position: absolute;
    top: 50px;
    left: 90px;
    font-size: 1.4rem;
}
.active{

}
.miniräknare-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12em;
    margin-top: 1em;
}
#miniräknare-one{
    border: 2px solid black;
    width: 230px;
    height: 290px;
    background-color: #183446;
    display: flex;
    flex-direction: column;
    align-items: center;
   transition: 0.3s ease-in-out;
}
#miniräknare-two{
    border: 2px solid black;
    width: 230px;
    height: 290px;
    background-color: #B14AED;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.hover:hover{
    cursor: pointer;
    scale: 1.05;
}
#miniräknare-three{
    border: 2px solid black;
    width: 230px;
    height: 330px;
    background-color: #2C2F36;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.top{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.bottom-two{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: white;
}
.bottom-three{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 85%;
    height: 80%;
    
}
.display{
    height: 50px;
    width: 100%;
    padding: 10px;
}
.display-bg3{
    background-color: #171A21;
    width: 70%;
    height: 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.buttons{
    display: grid;
    width: 100%;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: repeat(5,1fr);
}

.two{
    gap: 6px;
    padding: 6px 15px;
}
.three{
 gap: 8px;
 padding: 6px 0px;  
}
.one button{
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
    background-color: #183446;
    color: white;
    border:none;
    box-shadow: -1px -1px 0 0 #000, 1px 1px 0 0 #000;
    font-family: "Karla", sans-serif;
    font-weight: bold;
}
.one button:hover{
    cursor: pointer;
}
.two button{
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(119, 135, 139, 0.8);
    color: black;
    border: none;
    border-radius: 8px;
    font-family: "Karla", sans-serif;
    font-weight: bold;
}
.two button:hover{
    cursor: pointer;
}
.three button{
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 5px;
    font-family: 'Inconsolata', sans-serif;
    font-weight: bold;
}
.three button:hover{
    cursor: pointer;
}

input{
    text-align: right;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    font-size: 1.7rem;
    background-color: transparent;
    color: white;
    font-family: "Karla", sans-serif;
    font-weight: bold;
}
input::placeholder{
    color: white;
    font-family: "Karla", sans-serif;
    font-weight: bold;
}
input:focus{
    outline: none;
}

/* First calc*/

.bottom .one button:nth-child(1){   /* 00 */
    grid-area: 5 / 1 / 5 / 2;
}
.bottom .one button:nth-child(2){   /* 0 */
    grid-area: 5/2/5/3;
}
.bottom .one button:nth-child(3){   /* . */
    grid-area: 5/3/5/4;
}
.bottom .one button:nth-child(4){   /* 1 */
    grid-area: 4/1/4/2
}
.bottom .one button:nth-child(5){   /* 2 */
    grid-area: 4/2/4/3;
}
.bottom .one button:nth-child(6){   /* 3 */
    grid-area: 4/3/4/4;
}
.bottom .one button:nth-child(7){   /* 4 */
    grid-area: 3 / 1 / 3 / 2;
}
.bottom .one button:nth-child(8){   /* 5 */
    grid-area: 3 / 2 / 3 /3;
}
.bottom .one button:nth-child(9){   /* 6 */
    grid-area: 3 / 3 / 3 /4;
}
.bottom .one button:nth-child(10){  /* 7 */
    grid-area: 2 / 1 / 2 / 2;
}
.bottom .one button:nth-child(11){  /* 8 */
    grid-area: 2 / 2 / 2 / 3;
}
.bottom .one button:nth-child(12){  /* 9 */
    grid-area: 2 / 3 / 2 / 4;
}
.bottom .one button:nth-child(13){  /* C */
    grid-area: 1 / 1 /2 / 2;
    background-color: #A40606;
}
.bottom .one button:nth-child(14){  /* x */
    grid-area: 1 / 3 / 2 / 4;
}
.bottom .one button:nth-child(15){  
    grid-area: 1 / 2 / 2 / 3;
}
.bottom .one button:nth-child(16){ /* + */
    grid-area: 2 / 4 / 3 / 5;
}
.bottom .one button:nth-child(18){  /* = */
    grid-area: 3 / 4 / 6 / 5;
    background-color: #3c5a99;
    font-size: 2rem;
}
/* First calc*/


/*Second calc*/


.bottom-two .two button:nth-child(1){   /* 00 */
    grid-area: 5 / 1 / 5 / 2;
}
.bottom-two .two button:nth-child(2){   /* 0 */
    grid-area: 5/2/5/3;
}
.bottom-two .two button:nth-child(3){   /* . */
    grid-area: 5/3/5/4;
}
.bottom-two .two button:nth-child(4){   /* 1 */
    grid-area: 4/1/4/2
}
.bottom-two .two button:nth-child(5){   /* 2 */
    grid-area: 4/2/4/3;
}
.bottom-two .two button:nth-child(6){   /* 3 */
    grid-area: 4/3/4/4;
}
.bottom-two .two button:nth-child(7){   /* 4 */
    grid-area: 3 / 1 / 3 / 2;
}
.bottom-two .two button:nth-child(8){   /* 5 */
    grid-area: 3 / 2 / 3 /3;
}
.bottom-two .two button:nth-child(9){   /* 6 */
    grid-area: 3 / 3 / 3 /4;
}
.bottom-two .two button:nth-child(10){  /* 7 */
    grid-area: 2 / 1 / 2 / 2;
}
.bottom-two .two button:nth-child(11){  /* 8 */
    grid-area: 2 / 2 / 2 / 3;
}
.bottom-two .two button:nth-child(12){  /* 9 */
    grid-area: 2 / 3 / 2 / 4;
}
.bottom-two .two button:nth-child(13){  /* C */
    grid-area: 1 / 1 /2 / 2;
    color: #E71D36
}
/*Second calc*/



/*third calc*/


.bottom-three .three button:nth-child(1){   /* 00 */
    grid-area: 5 / 1 / 5 / 2;
    background-color: #74b9ff;
    border: 3px solid #4a90e2;
    
}
.bottom-three .three button:nth-child(2){   /* 0 */
    grid-area: 5/2/5/3;
    background-color: #74b9ff;
    border: 3px solid #4a90e2;
}
.bottom-three .three button:nth-child(3){   /* . */
    grid-area: 5/3/5/4;
    background-color: #74b9ff;
    border: 3px solid #4a90e2;
}
.bottom-three .three button:nth-child(4){   /* 1 */
    grid-area: 4/1/4/2;
    background-color: #74b9ff;
    border: 3px solid #4a90e2;
    
}
.bottom-three .three button:nth-child(5){   /* 2 */
    grid-area: 4/2/4/3;
    background-color: #74b9ff;
    border: 3px solid #4a90e2;
}
.bottom-three .three button:nth-child(6){   /* 3 */
    grid-area: 4/3/4/4;
    background-color: #74b9ff;
    border: 3px solid #4a90e2;
}
.bottom-three .three button:nth-child(7){   /* 4 */
    grid-area: 3 / 1 / 3 / 2;
    background-color: #74b9ff;
    border: 3px solid #4a90e2;
}
.bottom-three .three button:nth-child(8){   /* 5 */
    grid-area: 3 / 2 / 3 /3;
    background-color: #74b9ff;
    border: 3px solid #4a90e2;
}
.bottom-three .three button:nth-child(9){   /* 6 */
    grid-area: 3 / 3 / 3 /4;
    background-color: #74b9ff;
    border: 3px solid #4a90e2;
}
.bottom-three .three button:nth-child(10){  /* 7 */
    grid-area: 2 / 1 / 2 /2;
    background-color: #74b9ff;
    border: 3px solid #4a90e2;
}
.bottom-three .three button:nth-child(11){  /* 8 */
    grid-area: 2 / 2 / 2 / 3;
    background-color: #74b9ff;
    border: 3px solid #4a90e2;
}
.bottom-three .three button:nth-child(12){  /* 9 */
    grid-area: 2 / 3 / 2 / 4;
    background-color: #74b9ff;
    border: 3px solid #4a90e2;
}
.bottom-three .three button:nth-child(13){  /* C */
    grid-area: 1 / 1 /2 / 2;
    background-color: #ff7675;
    border: 2px solid #e74c3c;
}
.bottom-three .three button:nth-child(14){  /* x */
    background-color: #ff7675;
    border: 2px solid #e74c3c;
}
.bottom-three .three button:nth-child(15){  /* / */
    background-color: #ff7675;
    border: 2px solid #e74c3c;
}
.bottom-three .three button:nth-child(16){  /* + */
    background-color: #ff7675;
    border: 2px solid #e74c3c;
}
.bottom-three .three button:nth-child(17){  /* - */
    background-color: #ff7675;
    border: 2px solid #e74c3c;
}
.bottom-three .three button:nth-child(18){  /* % */
    background-color: #ff7675;
    border: 2px solid #e74c3c;
}
.bottom-three .three button:last-child{  /* = */
    grid-area: 4 / 4 / 6 / 5;
    background-color: #fcd000;
    border: 2px solid #e1a600;
    
}











/*third calc*/